<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout::head">
    <title id="pageTitle">Sagen.App - Log in</title>
</head>

<body id="page-top">

<!-- Navigation -->
<div th:replace="fragments/layout::sagenapp_header(${currentUser}, false)"></div>

<div class="container">
    <h3>Admin users!</h3>
    <div th:if="${editUser.getUsername()!=null}" class="col-3">
        <h5 class="text-primary">Edit User</h5>
        <form class="form-inline" th:action="${'/admin/user/save/'}+${editUser.getUsername()}" th:modelAttribute="editUser" method="post">
            <input type="hidden" th:value="${editUser.getUsername()}" name="id">
            <div class="form-group">
                <input type="text" th:value="${editUser.getFirstName()}" name="firstName" class="form-control" placeholder="First Name">
                <input type="text" th:value="${editUser.getLastName()}" name="lastName" class="form-control" placeholder="Last Name">
                <input type="text" th:value="${editUser.getEmail()}" name="email" class="form-control" placeholder="E-mail">
                <select class="form-control" name="roles" multiple>
                    <option th:each="role : ${T(app.sagen.tidderfront.Role).values()}"
                            th:selected="${editUser.getRoles().contains(role)}"
                            th:value="${role.toString()}"
                            th:text="${role.toString()}"></option>
                </select>
                <button class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md">
            <h5 class="text-primary">All registered Users</h5>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${allUsers}">
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getLastName()}+${', '}+${user.getFirstName()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td><span th:each="role, itr : ${user.getRoles()}" th:text="!${itr.last} ? ${role.toString()} + ', ': ${role.toString()}"></span></td>
                    <td>
                        <a class="btn btn-warning" th:href="${'/admin/user/edit/'}+${user.getUsername()}">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" th:href="${'/admin/user/delete/'}+${user.getUsername()}">Delete</a>
                    </td>
                </tr>
                <tr th:if="${allUsers.isEmpty()}">
                    <td>No users registered!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="fragments/layout::sagenapp_footer"></div>

</body>
</html>
