<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout::head">
    <title id="pageTitle">Tidder</title>
</head>

<body id="page-top" class="darktheme">

<!-- Navigation -->
<div th:replace="fragments/layout::sagenapp_header(${currentUser}, true)"></div>

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text py-5">
            <div class="intro-heading pt-5">/u/<span th:text="${user.getUsername()}"></span><br><span class="section-subheading" th:text="${user.getFirstName()+' '+user.getLastName()}"></span></div>
            <div th:text="'View all posts from '+${user.getUsername()}" class="intro-lead-in"></div>
        </div>
    </div>
</header>

<!-- Posts -->
<section id="postSection" class="container my-0 py-0 mt-3">
    <div class="row">
        <div id="postContainer" class="col-lg-9 col-md-8">

            <th:block th:each="post : ${posts}">
            <div class="row my-1 px-0 post d-flex flex-nowrap">
                <div class="mx-0 pl-1 px-0 text-center" style="width: 40px !important;">
                    <span class="font-weight-bold" style="color: green;">198</span>
                    <hr class="my-1" style="border-color: #666;">
                    <span class="font-weight-bold" style="color: red;">12</span>
                </div>
                <div class="flex-grow-1 mx-0 px-2">
                    <span class="font-weight-light text-truncate"><span th:text="${post.humanTimeSince()}"></span> | by <a th:text="${post.getOwner()}" th:href="'/u/'+${post.getOwner()}"></a> | <a th:href="'/t/'+${post.getTopic()}" th:text="'/t/'+${post.getTopic()}"></a></span>
                    <hr class="my-1" style="border-color: #666;">
                    <span class="font-weight-bold text-truncate" th:text="${post.getTitle()}"></span>
                    <span class="font-weight-light" style="display:block;" th:text="${post.getBody()}"></span>
                    <th:block th:if="${post.getImage()!=null && !post.getImage().trim().isEmpty()}">
                        <hr class="my-1" style="border-color: #666;">
                        <img style="display:block; max-width: 100%;" class="m-1" th:if="${post.image != null}" th:src="@{'data:image/png;base64,'+${post.image}}"/>
                    </th:block>
                </div>
            </div>
            </th:block>

        </div>

        <div class="col-lg-3 col-md-4">

            <div th:if="${currentUser != null && !currentUser.getUsername().equalsIgnoreCase(user.getUsername()) && !currentUser.getUsers().contains(user.getUsername())}" class="mx-auto">
                <a th:href="'/u/'+${user.getUsername()}+'/follow'" class="btn btn-primary btn-lg">Follow <span th:text="${user.getUsername()}"></span></a>
            </div>
            <div th:if="${currentUser != null && !currentUser.getUsername().equalsIgnoreCase(user.getUsername()) && currentUser.getUsers().contains(user.getUsername())}" class="mx-auto">
                <a th:href="'/u/'+${user.getUsername()}+'/unfollow'" class="btn btn-primary btn-lg">Unfollow <span th:text="${user.getUsername()}"></span></a>
            </div>

            <div th:if="${currentUser!=null}" class="row">
                <div class="my-1 mx-md-3 px-4 py-3 col-12 userColumnContainer">
                    <h4 class="text-align-center">Your profile</h4>
                    <a th:href="'/u/'+${currentUser.getUsername()}"><h6 class="ml-0" th:text="'Username: '+${currentUser.getUsername()}"></h6></a>
                    <h4 class="ml-0">People you follow</h4>
                    <a th:each="u : ${currentUser.getUsers()}" th:text="${'/u/'+u}"><h6 th:text="${'/u/'+u}"></h6></a>
                    <h4>Topics you follow</h4>
                    <a th:each="t : ${currentUser.getTopics()}" th:text="${'/t/'+t}"><h6 th:text="${'/t/'+t}"></h6></a>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- footer -->
<div th:replace="fragments/layout::sagenapp_footer"></div>

</body>

</html>
